{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>ContactNumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td><a href="{{ path('app_customer_show', {'id': customer.id}) }}">{{ customer.name }}<a></td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.contactNumber }}</td>
                <td class="d-flex">
                    <a class="btn btn-primary m-1" href="{{ path('app_customer_edit', {'id': customer.id}) }}">Edit</a>
                    {{ include('customer/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_customer_new') }}">Create new</a>
{% endblock %}
